name: Docker commit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-commit-version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: etup-buildx-action@v3
    - name: Login to DockerHub Registry
      run: echo '${{ secrets.DOCKERHUB_PASSWORD }}' | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: Build the tagged Docker image
      run: docker buildx build --push --tag flavienperier/jupyter:commit-$GITHUB_SHA --tag flavienperier/jupyter:latest --platform linux/amd64 .
